@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,800&family=Ubuntu:wght@400;700&display=swap');
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

h1{
    font-size: 2.3rem !important;
    font-family: 'Ubuntu',
        sans-serif;
}
h2{
    font-size: 1.5rem !important;
    font-family: 'Ubuntu',
        sans-serif;
}
h3{
    margin-left: 15px;
}
p{
    font-family: 'Ubuntu',
        sans-serif;
}
.header{
    margin: 50px 0;
}
.work_section{
    justify-content: space-between;
    margin-bottom: 50px;
}
.last_section{
    justify-content: space-between;
}
.card-header{
    display: flex;
}
.technical{
    margin-bottom: 50px;
}
.competence{
    background-color: yellow;
    border-radius: 100px;
    padding: 0 10px;
    color: white;
    width: 300px;
    height: 8px;
}
.html{
    background-color: rgb(82, 7, 255);
    border-radius: 100px;
    width: 80%;
    height: 8px;
    padding: 0 10px;
}
.css{
    background-color: rgb(82, 7, 255);
    border-radius: 100px;
    width: 60%;
    height: 8px;
    padding: 0 10px;
}
.bootstrap{
    background-color: rgb(82, 7, 255);
    border-radius: 100px;
    width: 70%;
    height: 8px;
    padding: 0 10px;
}
.javascript{
    background-color: rgb(82, 7, 255);
    border-radius: 100px;
    width: 20%;
    height: 8px;
    padding: 0 10px;
}
.figma{
    background-color: rgb(82, 7, 255);
    border-radius: 100px;
    width: 50%;
    height: 8px;
    padding: 0 10px;
}
.react{
    background-color: rgb(82, 7, 255);
    border-radius: 100px;
    width: 20%;
    height: 8px;
    padding: 0 10px;
}
